<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/skill.css"/>

    <!-- Custom styles for this template -->
    <link href="/static/main.css" rel="stylesheet">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src ="/static/vue_template.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"> </script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- <script type="text/javascript" src="/static/skillsdata.js"></script>
    <script type="text/javascript" src="/static/skill.js"></script> -->
</head>
<body>

    <div id="skills">
          <div id="skillmap">
            <div class="skills-wrapper">
              <div class="skills-sunburst"></div>
              <div class="skills-chart">
                <div id="skills-chart-breadcrumb"></div>
              </div>
            </div>
          </div>
        </div>

<div id="demo">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">My Expenses</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Table <span class="sr-only">(current)</span></a></li>
        <li><a href="#" id="plot">Plot</a></li>
      </ul>
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" v-model="searchQuery">
        </div>
        <button class="btn btn-default" type="submit" form="add_form" style="background-color: #c8e6c9">Add</button>
        <div class="form-group">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <h4>Total: {{ total }}</h4>
        </div>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a id="signout" href="#">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- demo root element -->
<div class="container">

  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery"
    :icons="gridIcons"
    :total="total">
  </demo-grid>
</div>
</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/skillsdata.js"></script>
<script type="text/javascript" src="/static/skill.js"></script>

<script type="text/x-template" id="grid-template">
<div class = "table-responsive">
<form id="add_form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          <span class="glyphicon" :class="icons[key]" aria-hidden="true"></span>
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select id="kind" class="form-control" required>
                      <option>+</option>
                      <option>-</option>
                    </select>
            </td>
            <td>
            <select id="theme" class="form-control" required>
                  <option>Appartment</option>
                  <option>Car</option>
                  <option>Сlothing</option>
                  <option>Entertainment</option>
                  <option>Food&Drinks</option>
                  <option>Other</option>
                  <option>Salary</option>
                  <option>Travel</option>
                </select>
            </td>
            <td><div class="form-inline">
                  <div class="form-group">
                    <input id="item" type="text" class="form-control" placeholder="Item Name" required>
                </div></div>
            </td>
            <td>
                <div class="form-inline">
                    <div class="form-group">
                        <input id="cost" type="number" min="1" class="form-control" placeholder="Item Price" required>
                </div></div >
            </td>
            <td>
                <div class="input-group date" data-provide="datepicker" data-date-end-date="0d">
                    <input id="date" type="text" class="form-control" required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
        </tr>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>

</script>

<script>
    $.fn.datepicker.defaults.format = "dd.mm.yyyy";
</script>


<script>

// $("plot").click( e => {
//
// })

$(document).ready(function() {
$(document).on('click', '#signout', function(e) {
    console.log("hi");
    $.post( "/signout", {})
        .done(function( msg ) {
            if (msg == "OK")
            {
                document.location.pathname = "/";
            }
            else
                console.warn(msg);//TODO
      });
  })
})

$(document).ready(function() {
    $(document).on('submit', '#add_form', function(e) {
            e.preventDefault();
            var value = {
                kind: $('#kind').val(),
                theme: $('#theme').val(),
                item: $('#item').val(),
                cost: $('#cost').val() | 0 + 0.0,
                date: $('#date').val()
            };

            $.post( "/add", value)
                .done(function( msg ) {
                    if (msg == "OK")
                    {
                        app.gridData.push(value);
                        $("form")[0][1].value = "+";
                        $("form")[0][2].value = "Appartment";
                        $("form")[0][3].value = "";
                        $("form")[0][4].value = "";
                        $("form")[0][5].value = "";
                        if (value.kind == "-")
                            app.total -= value.cost;
                        else app.total += value.cost;
                    }
                    else
                        console.warn(msg);//TODO
              });
    });
})

</script>

</body>
</html>
